/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.05em;
  color: #333;
  background: #f6f6f6;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  /*font-style: italic;*/
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #555555;
  font-family: "PingFang SC", sans-serif;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

pre {
  margin-bottom: 0.2rem;
  font-size: 0.14rem;
  word-wrap: normal;
  word-break: break-word !important;
  white-space: pre;
  overflow: auto;
  color: #a6a28c;
  border-radius: 0.08rem;
}
p > code {
  background: rgba(103, 193, 246, 0.7);
  border-radius: 0.04rem;
  font-family: Consolas, Monaco, "Andale Mono", monospace;
  color: #ffffff;
  padding: 0.02rem 0.04rem;
  margin: 0 0.04rem auto;
}
p {
  color: #555555;
  font-size: 0.16rem;
  line-height: 0.26rem;
  font-family: "PingFang SS", "Microsoft YaHei UI", sans-serif;
}
li {
  font-size: 0.15rem;
  line-height: 0.22rem;
  color: #555555;
  font-family: "PingFang SS", "Microsoft YaHei UI", sans-serif;
}
pre > code {
  line-height: 0.2rem;
  font-family: "PingFang SC", "Microsoft YaHei UI", sans-serif;
  padding: 0.36rem;
  font-weight: lighter;
  overflow-y: hidden;
}

.hljs-ln-numbers {
  width: 0.24rem;
  padding: 0.02rem 0.06rem;
  border-right: 0.02rem solid #bcbcbc;
  text-align: center;
}
.hljs-ln-code {
  padding-left: 0.06rem;
}
a {
  color: #aaaaaa;
}
.hidden-anchor {
  position: relative;
  top: -0.6rem;
  display: block;
  height: 0;
  overflow: hidden;
}
h1,
h2,
h3 {
  border-bottom: 0.01rem solid #e4e4e4;
  padding-bottom: 0.06rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-indent: 0.28rem;
}

h1 {
  font-size: 0.24rem;
}
h2 {
  font-size: 0.22rem;
}
h3 {
  font-size: 0.2rem;
}
h4 {
  font-size: 0.16rem;
}
h5 {
  font-size: 0.14rem;
}
ol,
ul {
  margin: 0;
  padding: 0 0 0 0.2rem;
  font-size: 0.14rem;
}

.markdown > p {
  text-indent: 0.28rem;
}
