/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

/*序号*/
.hljs-ln-n {
  color: #6d8a88;
}
/*标题*/
.hljs-title {
  color: #2c3e50;
  position: relative;
  transition: all ease-in-out .2s;
  text-indent: unset;
}
.h-title {
  border-bottom: .01rem dashed lightgray;
  line-height: 1.5;
  &:hover {
    color: #ffa500;
  }
}
.hljs-ln-line {
  color: #55b5db;
}

pre {
  margin-bottom: 0.2rem;
  font-size: 0.14rem;
  word-wrap: normal;
  word-break: break-word !important;
  white-space: pre;
  overflow: auto;
  color: #a6a28c;
  border-radius: 0.08rem;
}
p > code {
  //background: rgba(103, 193, 246, 0.7);
  border-radius: 0.04rem;
  font-family: Consolas, Monaco, "Andale Mono", monospace;
  //color: #ffffff;
  padding: 0.02rem 0.04rem;
  margin: 0 0.04rem auto;
}
p {
  color: #2c3e50;
  font-size: 0.14rem;
  line-height: 0.26rem;
  font-family: Lato,PingFang SC,Microsoft YaHei,sans-serif !important;
  code {
    //background: rgba(103, 193, 246, 0.7);
    border-radius: 0.04rem;
    font-family: Consolas, Monaco, "Andale Mono", monospace !important;
    font-style: italic;
    //color: #ffffff;
    padding: 0.02rem 0.04rem;
    margin: 0 0.04rem auto;
  }
}
li {
  color: #2c3e50;
  font-size: 0.14rem;
  line-height: 0.26rem;
  font-family: Lato,PingFang SC,Microsoft YaHei,sans-serif !important;
}
pre > code {
  line-height: 0.2rem;
  font-family: "PingFang SC", "Microsoft YaHei UI", sans-serif;
  padding: 0.36rem;
  font-weight: lighter;
  overflow-y: hidden;
}

.hljs-ln-numbers {
  width: 0.24rem;
  padding: 0.02rem 0.06rem;
  border-right: 0.02rem solid #bcbcbc;
  text-align: center;
}
.hljs-ln-code {
  padding-left: 0.06rem;
  * {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace, sans-serif !important;
  }
  .hljs-title {
    color: #ff5f56;
  }
  .hljs-params {
    color: #fb9759;
  }
}
a {
  color: #aaaaaa;
}
.hidden-anchor {
  position: relative;
  top: -0.6rem;
  display: block;
  height: 0;
  overflow: hidden;
}
h1,
h2,
h3 {
  border-bottom: 0.01rem solid #e4e4e4;
  padding-bottom: 0.06rem;
}

h1 {
  font-size: 0.24rem;
}
h2 {
  font-size: 0.22rem;
}
h3 {
  font-size: 0.2rem;
}
h4,h5,h6 {
  font-size: 0.18rem;
}
ol,
ul {
  margin: 0;
  //padding: 0 0 0 0.2rem;
  font-size: 0.14rem;
  li {
    padding-left: 0;
    margin-left: 0;
  }
}
//
//.markdown > p {
//  text-indent: 0.28rem;
//}
.zfz_table {
  width: 100%;
}
.zfz_table td,th {
  font-size: .14rem;
  border: .005rem solid rgba(44, 62, 80, 0.6);
  text-align: center;
}
.zfz_table th {
  font-size: .16rem;
}
